<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Main" connectionString="Data Source=10.32.200.96;Initial Catalog=gvuz_develop_2016;uid=scholar;pwd=scholar;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
