<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="FbsConnectionString" connectionString="Data Source=10.32.200.164;Initial Catalog=FBS_2015_Debug;User ID=scholar;Password=scholar;"/>
  </connectionStrings>
  <appSettings>
    <add key="RemoveOlympics" value="true"/>
    <add key="RemoveDiplomants" value="true"/>
    <add key="RemoveSubjects" value="true"/>
    <add key="OlympicYear" value="2015"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
