<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <!--<add name="ERBD" connectionString="Data Source=localhost;Initial Catalog=erbd;Persist Security Info=True;User ID=scholar;Password=scholar;"/>-->
    </connectionStrings>
    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>

        <!--<add key="timerSeconds" value="10"/>-->
        <add key="CompositionOldDrive" value="\\10.32.200.164\Forms\" /> <!-- \\10.0.3.5\Forms\ -->
        <add key="CompositionNewDrive" value="D:\dev\Forms\" />
    </appSettings>
    <system.web>
        <compilation debug="true"/>
    </system.web>

    <system.serviceModel>
        <services>
            <!-- Настройки для подключения клиентов сервера управления -->
            <service name="GVUZ.CompositionExportHost.CompositionExportService" behaviorConfiguration="ServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:8701/CompositionExportService"/>
                    </baseAddresses>
                </host>
                <endpoint address="" binding="netTcpBinding" bindingConfiguration="LargeBinding" contract="GVUZ.CompositionExportModel.ICompositionExportService"/>
                <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
            </service>

        </services>
        <bindings>
            <netTcpBinding>
                <binding name="LargeBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
                    <readerQuotas maxDepth="655360000" maxStringContentLength="655360000" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
                    <security mode="None"></security>
                </binding>
            </netTcpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehavior">
                    <serviceMetadata httpGetEnabled="false"/>
                    <serviceDebug includeExceptionDetailInFaults="True"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>

    <startup>

        <supportedRuntime version="v4.0.30319"/>
    </startup>
    <system.web>
        <httpRuntime maxRequestLength="2147483647"/>
    </system.web>
</configuration>
