<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\KGuliyan\Documents\Esrp\Esrp.Web.UI.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>esrptest</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Esrp.Core.Properties.Settings.EsrpConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=10.0.18.3;Initial Catalog=esrp_prod;Persist Security Info=True;User ID=FBS_Login;Password=Werbyb100" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.18.3;Initial Catalog=esrp_prod;Persist Security Info=True;User ID=ra;Password=Njkmrjcdjb" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Esrp.Core.Properties.Settings.EsrpConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.0.18.3;Initial catalog=esrp_prod;User ID=ra;Password=Njkmrjcdjb;Persist Security Info=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Fis" Order="2" Enabled="False">
          <Destination Path="Data Source=10.0.3.8;Initial Catalog=gvuz_start_2016;User ID=FBS_Login;Password=Werbyb100" Name="Data Source=10.0.3.8;Initial Catalog=gvuz_start_2016;uid=FBS_Login;pwd=Werbyb100;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=GVUZ_Develop;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Fis_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=GVUZ_Develop;Integrated Security=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Esrp.Core.Properties.Settings.EsrpConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=10.0.18.3;Initial Catalog=esrp_prod;Persist Security Info=True;User ID=FBS_Login;Password=Werbyb100</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Fis-Web.config Connection String">
      <ParameterValue>Data Source=10.0.3.8;Initial Catalog=gvuz_start_2016;uid=FBS_Login;pwd=Werbyb100;</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>