<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Main" connectionString="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;uid=FBS_Login;pwd=Werbyb100;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ThreadWaitTime" value="500"/>
    <add key="ImportPackageTimeout" value="900"/>
  </appSettings>
</configuration>