
@{
    ViewBag.Title = "SuccessfullEdit";
}

<h2>Успешно отредактировано</h2>
<p>@Html.ActionLink("Новый поиск ОО", "Search")</p>

<p>@Html.ActionLink("Проверить результат редактирования", "EditInstitutionInfo")</p>

