<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="FBS_DB_CS" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=fbs_db;uid=kyusupov;pwd=kyusupov;Connection Timeout=300"/>
    </connectionStrings>
    <appSettings>
        <add key="From" value="info@fbsege.ru"/>
        <add key="SMTPHost" value="localhost"/>
        <add key="SMTPPort" value="25"/>
        <add key="Login" value=""/>
        <add key="Password" value=""/>
        <add key="UseSSL" value="true"/>
        <add key="DebugMode" value="true"/>
        <add key="ReplyTo" value="kiriouss@rambler.ru"/>
        <add key="ScanIntervalSeconds" value="60"/>

        <!--Работающие параметры для GMail + надо включить SSL-->
        <!--<add key="From" value="info@fbsege.ru"/>
        <add key="SMTPHost" value="smtp.gmail.com"/>
        <add key="SMTPPort" value="587"/>
        <add key="Login" value="info@fbsege.ru"/>
        <add key="Password" value="4488g8"/>-->
    </appSettings>
</configuration>