<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="ESRP_Public" connectionString="Data Source=localhost;Initial Catalog=ESRP_Develop;Integrated Security=true" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="ESRPReplicationEnabled" value="true"/>
        <add key="FISReplicationEnabled" value="true"/>
        <add key="EIISImportEnabled" value="true"/>

        <add key="ESRPReplicationMinutes" value="10"/>
        <add key="FISReplicationMinutes" value="10"/>
        <add key="EIISImportMinutes" value="10"/> 

        <add key="EIISImportSchedule" value="13:30"/>

        <add key="ESRPPrivateUrl" value="http://localhost:333/auth/setdata.asmx"/>
        <add key="ESRPReplicationRowCount" value="1000"></add>
        <add key="ESRPUseEnsureCommands" value="false"></add>
        <add key="FISReplicationRowCount" value="1000"></add>

        <add key="EIISUrl" value="http://eiis-production.srvdev.ru/integrationservice/baseservice.asmx"/>
        <add key="EIISLogin" value="fisege"/>
        <add key="EIISPassword" value="123"/>
        <!--Пример!-->
        <add key="EIISSkipCodes" value="EIIS.EDUPROGRAMS;EIIS.LICENSED_PROGRAMS"/>
    </appSettings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup> 
</configuration>
