<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="FBS.Spec" type="FBS.Spec.Configuration.SpecConfigurationSection, FBS.Spec" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <NUnit>
    <TestRunner>
      <!-- Valid values are STA,MTA. Others ignored. -->
      <add key="ApartmentState" value="STA" />
    </TestRunner>
  </NUnit>
  <specFlow>
    <language feature="ru" />
    <stepAssemblies>
      <stepAssembly assembly="FBS.Spec" />
    </stepAssemblies>
  </specFlow>
  <FBS.Spec>
    <pages>
      <add name="Новости" url="NewsArchive.aspx" />
      <add name="Проверка по сумме баллов" url="Certificates/CommonNationalCertificates/HashedCheck/CheckByMarkSum.aspx" />
      <add name="Запрос по регистрационному номеру и баллам по предметам" url="Certificates/CommonNationalCertificates/CheckForOpenedFbs.aspx" />
      <add name="Выбор организации" url="SelectOrg.aspx"/>
      <add name="Запрос по регистрационному номеру и баллам по предметам" url="Certificates/CommonNationalCertificates/CheckForOpenedFbs.aspx"/>
      <add name="Результат запроса по регистрационному номеру и баллам по предметам" url="Certificates/CommonNationalCertificates/CheckResultForOpenedFbs.aspx?number=16-000027009-10" />
      <add name="Запрос по номеру и серии документа, и баллам по предметам" url="Certificates/CommonNationalCertificates/RequestByPassportForOpenedFbs.aspx"/>
    </pages>
  </FBS.Spec>
  <appSettings>
    <add key="RootUrl" value="http://vm-fbs:338"/>
  </appSettings>
</configuration>