<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fbs.Core.Properties.Settings.FbsConnectionString" connectionString="Data Source=vm-fbs\sql2008r2eng;Initial Catalog=fbsopen;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Fbs.Core.Properties.Settings.fbs_dbConnectionString" connectionString="Data Source=zubrus.rbc.ru;Initial Catalog=fbs_db;Persist Security Info=True;User ID=kyusupov" providerName="System.Data.SqlClient"/>
        <add name="Fbs.Core.Properties.Settings.fbs_dbConnectionString1" connectionString="Data Source=zubrus.rbc.ru;Initial Catalog=fbs_db;Persist Security Info=True;User ID=kyusupov;Password=kyusupov" providerName="System.Data.SqlClient"/>
        <add name="Fbs.Core.Properties.Settings.fbs_2011ConnectionString" connectionString="Data Source=ROMAN\SQLSERVER2008STD;Initial Catalog=fbs_2011;Persist Security Info=True;User ID=sa;Password=flvbycrbq" providerName="System.Data.SqlClient"/>
        <add name="Fbs.Core.Properties.Settings.fbs_2011ConnectionString1" connectionString="Data Source=ROMAN\SQLSERVER2008STD;Initial Catalog=fbs_2011;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="Fbs.Core.Properties.Settings.fbs_check_dbConnectionString" connectionString="Data Source=vm-fbs\sql2008r2eng;Initial Catalog=fbs_check_db;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
