<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="ESRP_Public" connectionString="Data Source=10.32.200.164;Initial Catalog=esrp;User=scholar;Password=scholar;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="EIISUrl" value="http://eiis-production.srvdev.ru/integrationservice/baseservice.asmx"/>
        <add key="EIISLogin" value="fisege"/>
        <add key="EIISPassword" value="123"/>
        <add key="EIISSkipCodes" value="EIIS.REGIONS;EIIS.EDUPROGRAMS;EIIS.LICENSED_PROGRAMS;EIIS.UGS;EIIS.LICENSES;EIIS.LICENSE_APPS;"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
