<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Esrp.Core.Properties.Settings.EsrpConnectionString" connectionString="Data Source=10.0.18.3;Initial catalog=esrp_prod;User ID=ra;Password=Njkmrjcdjb;Persist Security Info=True" providerName="System.Data.SqlClient"/>
        <add name="Esrp.Core.Properties.Settings.esrp_dbConnectionString" connectionString="Data Source=zubrus.rbc.ru;Initial Catalog=fbs_db;Persist Security Info=True;User ID=kyusupov" providerName="System.Data.SqlClient"/>
        <add name="Esrp.Core.Properties.Settings.esrp_dbConnectionString1" connectionString="Data Source=zubrus.rbc.ru;Initial Catalog=fbs_db;Persist Security Info=True;User ID=kyusupov;Password=kyusupov" providerName="System.Data.SqlClient"/>
        <add name="Esrp.Core.Properties.Settings.esrpConnectionString1" connectionString="Data Source=.\;Initial Catalog=esrp;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Esrp.Core.Properties.Settings.esrpConnectionString2" connectionString="Data Source=10.32.200.164;Initial Catalog=esrp;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="Esrp.Core.Properties.Settings.ESRP_DevelopConnectionString" connectionString="Data Source=10.0.18.3;Initial catalog=esrp_prod;User ID=ra;Password=Njkmrjcdjb;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
