<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Настройки TSSoft -->
    <add key="DestConnectionString" value="Data Source=(local)\sqlserver2008std;Initial Catalog=fbs_report2;uid=sa;pwd=flvbycrbq;" />
    <add key="Source2011ConnectionString" value="Data Source=192.168.0.26\sqlserver2008std;Initial Catalog=fbs_2011_old;uid=sa;pwd=flvbycrbq;" />
    <add key="Source2010ConnectionString" value="Data Source=(local)\sqlserver2008std;Initial Catalog=fbs_2010_test;uid=sa;pwd=flvbycrbq;" />
    <!--Соединение с базой ЕСРП-->
    <add key="EsrpConnectionString" value="Data Source=192.168.0.26\sqlserver2008std;Initial Catalog=esrp;uid=sa;pwd=flvbycrbq;"/>
    <add key="TempDirPath" value="e:\Temp\" />
    <add key="CommandTimeout" value="100" />

    <add key="ValueDelimeter" value="|" />
    <add key="InsertFlushRowsCount" value="100000" />
    <add key="UpdateFlushRowsCount" value="5000" />
    <add key="DeleteFlushRowsCount" value="100" />
    <add key="LogFileName" value="info.log" />
  </appSettings>
</configuration>