<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GVUZ.Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="InstitutionsEntities" connectionString="metadata=res://*/Institutions.Institution.csdl|res://*/Institutions.Institution.ssdl|res://*/Institutions.Institution.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.32.200.96;Initial Catalog=gvuz_develop_2016;User Id=scholar;Password=scholar;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
        <add name="CoursesEntities" connectionString="metadata=res://*/Courses.Courses.csdl|res://*/Courses.Courses.ssdl|res://*/Courses.Courses.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.32.200.96;Initial Catalog=gvuz_develop_2016;User Id=scholar;Password=scholar;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
        <add name="BenefitsEntities" connectionString="metadata=res://*/Benefits.Benefits.csdl|res://*/Benefits.Benefits.ssdl|res://*/Benefits.Benefits.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.32.200.96;Initial Catalog=gvuz_develop_2016;User Id=scholar;Password=scholar;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
        <add name="EntrantsEntities" connectionString="metadata=res://*/Entrants.Entrants.csdl|res://*/Entrants.Entrants.ssdl|res://*/Entrants.Entrants.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.32.200.96;Initial Catalog=gvuz_develop_2016;User Id=scholar;Password=scholar;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
        <add name="AdministrationEntities" connectionString="metadata=res://*/Administration.Administration.csdl|res://*/Administration.Administration.ssdl|res://*/Administration.Administration.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.32.200.96;
   Initial Catalog=gvuz_develop_2016;User Id=scholar;Password=scholar;Persist Security Info=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
        <add name="NormativeDictionaryEntities" connectionString="metadata=res://*/NormativeDictionaries.NormativeDictionaries.csdl|res://*/NormativeDictionaries.NormativeDictionaries.ssdl|res://*/NormativeDictionaries.NormativeDictionaries.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.32.200.96;Initial Catalog=gvuz_develop_2016;User Id=scholar;Password=scholar;Persist Security Info=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
        <add name="Main" connectionString="Data Source=10.32.200.96;Initial Catalog=gvuz_develop_2016;uid=scholar;pwd=scholar;" providerName="System.Data.SqlClient"/>
        <add name="ImportEntities" connectionString="metadata=res://*/Import.ImportEntities.csdl|res://*/Import.ImportEntities.ssdl|res://*/Import.ImportEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.32.200.96;initial catalog=gvuz_develop_2016;Persist Security Info=True;User ID=scholar;Password=scholar;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient"/>
    </connectionStrings>
    <appSettings>
        <add key="ServiceName" value="GvuzProdImportService"/>
        <add key="ImportFolder" value="c:\temp\GVUZ_Import\Import\"/>
        <add key="ProcessingFolder" value="c:\temp\GVUZ_Import\Processing\"/>
        <add key="ResultFolder" value="c:\temp\GVUZ_Import\Result\"/>
        <add key="Search.PageSize" value="25"/>
        <add key="Application.TotalLimit" value="5"/>
        <add key="Application.LocalLimit" value="3"/>
        <add key="SqlCommandTimeout" value="360"/>
        <add key="ImportProcessorThreadcount" value="2"/>
        <add key="CheckProcessorThreadcount" value="2"/>
        <add key="EnablePersonalRecordsAccessLog" value="false"/>
        <add key="ESRPAuth.EsrpVersion" value="2"/>
        <add key="ConnectionFactory.Address" value="http://priem.edu.ru/Rdms"/>
        <add key="ConnectionFactory.Username" value="Administrator"/>
        <add key="ConnectionFactory.Password" value="gfhjkm"/>
        <add key="ConnectionFactory.ProxyUsername" value=""/>
        <add key="ConnectionFactory.ProxyPassword" value=""/>
        <add key="EgeCheckLogin" value="Babchenko"/>
        <add key="EgeCheckPassword" value="123"/>
        <add key="ESRPAuth.Path" value="http://10.32.200.164:100/"/>
        <add key="ESRPAuth.CookieLifeTime" value="20"/>
        <add key="ESRPAuth.SkipAuthPath" value="/resources/;/import/importservice.svc;/informationservice.asmx"/>
        <!-- <add key="EgeCheckPage" value="http://brig.i-kompas.ru:8001/Certificates/CommonNationalCertificates/Check.aspx" />-->
        <add key="EgeCheckPage" value="http://10.32.200.164:200/Certificates/CommonNationalCertificates/Check.aspx"/>
        <!-- Ef, Bulk, Xml -->
        <add key="ImportType" value="Bulk"/>
        <add key="ImportApplicationsPackageSize" value="250"/>
        <add key="ClientSettingsProvider.ServiceUri" value=""/>
        <!--<add key="EnableFullDataLoadAppsCount" value="10" />-->
        <add key="ParseProcessorThreadcount" value="2"/>
    </appSettings>
    <applicationSettings>
        <GVUZ.Helper.Properties.Settings>
            <setting name="GVUZ_Helper_EgeChecks_WSChecks" serializeAs="String">
                <value>http://localhost:42741/wschecks.asmx</value>
            </setting>
        </GVUZ.Helper.Properties.Settings>
    </applicationSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
            </providers>
        </roleManager>
    </system.web>
</configuration>
