BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO

if not exists (select * from syscolumns where name = 'EgeMinValue' and id = OBJECT_ID(N'BenefitItemC'))
begin
	ALTER TABLE dbo.BenefitItemC ADD
		EgeMinValue int NULL
	ALTER TABLE dbo.BenefitItemC SET (LOCK_ESCALATION = TABLE)
end
GO
COMMIT
