<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://10.0.18.8:8080</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>10.0.18.8</MSDeployServiceURL>
    <DeployIisAppPath>gvuz_2016</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>fctest</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationPrioritiesEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;Persist Security Info=True;User ID=FBS_Login;Password=Werbyb100" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationPrioritiesEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ApplicationPriorities.ApplicationPriorities.csdl|res://*/ApplicationPriorities.ApplicationPriorities.ssdl|res://*/ApplicationPriorities.ApplicationPriorities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;persist security info=True;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="NormativeDictionaryEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=FBS_Login;Id=Werbyb100;Persist Security Info=True;MultipleActiveResultSets=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NormativeDictionaryEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/NormativeDictionaries.NormativeDictionaries.csdl|res://*/NormativeDictionaries.NormativeDictionaries.ssdl|res://*/NormativeDictionaries.NormativeDictionaries.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=FBS_Login;Id=Werbyb100;Persist Security Info=True;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RecommendedListsEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;Persist Security Info=True;User ID=FBS_Login;Password=Werbyb100;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RecommendedListsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/RecommendedLists.RecommendedLists.csdl|res://*/RecommendedLists.RecommendedLists.ssdl|res://*/RecommendedLists.RecommendedLists.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;persist security info=True;User Id=FBS_Login;Password=Werbyb100;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AdministrationEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;Persist Security Info=True;User ID=FBS_Login;Password=Werbyb100" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AdministrationEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Administration.Administration.csdl|res://*/Administration.Administration.ssdl|res://*/Administration.Administration.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;    Initial Catalog=gvuz_start_2016_jun20;User Id=FBS_Login;Password=Werbyb100;Persist Security Info=True;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="InstitutionsEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User ID=FBS_Login;Password=Werbyb100" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InstitutionsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Institutions.Institution.csdl|res://*/Institutions.Institution.ssdl|res://*/Institutions.Institution.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FbsConnectionString" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.18.3;Initial Catalog=FBS;User ID=scholar;Password=scholar" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FbsConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.0.18.3;Initial Catalog=FBS;User ID=scholar;Password=scholar" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BenefitsEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User ID=FBS_Login;Password=Werbyb100" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BenefitsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Benefits.Benefits.csdl|res://*/Benefits.Benefits.ssdl|res://*/Benefits.Benefits.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EntrantsEntities" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User ID=FBS_Login;Password=Werbyb100" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EntrantsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Entrants.Entrants.csdl|res://*/Entrants.Entrants.ssdl|res://*/Entrants.Entrants.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CoursesEntities" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User ID=FBS_Login;Password=Werbyb100" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CoursesEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Courses.Courses.csdl|res://*/Courses.Courses.ssdl|res://*/Courses.Courses.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ImportEntities" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;Persist Security Info=True;User ID=FBS_Login;Password=Werbyb100" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ImportEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Import.ImportEntities.csdl|res://*/Import.ImportEntities.ssdl|res://*/Import.ImportEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;Persist Security Info=True;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=True;&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AppExport" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AppExport_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Reports" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.18.3;Initial Catalog=GVUZ_Reports;User ID=FBS_Login;Password=Werbyb100" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Reports_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.0.18.3;Initial Catalog=GVUZ_Reports;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Main" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User ID=FBS_Login;Password=Werbyb100" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Main_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;uId=FBS_Login;pwd=Werbyb100;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AdministrationEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppExport-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationPrioritiesEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BenefitsEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CoursesEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntrantsEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FbsConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ImportEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InstitutionsEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Main-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NormativeDictionaryEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RecommendedListsEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Reports-Web.config Connection String" />
  </ItemGroup>
</Project>