<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

	<connectionStrings>
  <add name="FbsService.Properties.Settings.TaskConnectionString" connectionString="Data Source=.\r2;Initial Catalog=task_db;uid=sa;pwd=!QAZ2wsx;Connection Timeout=300" providerName="System.Data.SqlClient"/>
  <add name="FbsService.Properties.Settings.FbsCheckConnectionString" connectionString="Data Source=.\r2;Initial Catalog=fbs_check_db;uid=sa;pwd=!QAZ2wsx;Connection Timeout=300" providerName="System.Data.SqlClient"/>
  <add name="FbsService.Properties.Settings.FbsLoaderConnectionString" connectionString="Data Source=.\r2;Initial Catalog=fbs_loader_db;uid=sa;pwd=!QAZ2wsx;Connection Timeout=300" providerName="System.Data.SqlClient"/>
  <add name="FbsService.Properties.Settings.FbsWebConnectionString" connectionString="Data Source=10.32.200.164;Initial Catalog=FBS_2014;uid=scholar;pwd=scholar;Connection Timeout=300" providerName="System.Data.SqlClient"/>
  <add name="FbsService.Properties.Settings.FBS_2014ConnectionString" connectionString="Data Source=10.32.200.164;Initial Catalog=FBS_2014;User ID=sa;Password=sa321" providerName="System.Data.SqlClient"/>
 </connectionStrings>

	<appSettings>
		<add key="ThreadIdleTimeout" value="00:00:03"/>
		<add key="ThreadCount" value="20"/>
		<add key="ArchiveDirectory" value="C:\Work\temp\fbs\Archive"/>
		<add key="BulkFileDirectory" value="C:\Work\temp\fbs\BulkFiles"/>
		<add key="InputFormDirectory" value="C:\Work\temp\fbs\Input"/>
		<add key="OutputFormFileNameFormat" value="C:\Work\temp\fbs\Output\out_{0}.xml"/>
		<add key="LoaderAccountId" value="1"/>
		<add key="LoaderIp" value="127.0.0.1"/>
		<add key="BulkLoading" value="True"/>
		<add key="AutoCertificateLoading" value="True"/>
		<add key="CertificateLoadingDirectory" value="C:\Work\temp\fbs\CertificateLoading"/>
		<add key="CertificateLoadingMaxErrorCount" value="50"/>
		<add key="CertificateLoadingLog" value="C:\Work\temp\fbs\CertificateLoading\CertificateLoading.log"/>
		<add key="AutoCertificateDenyLoading" value="True"/>
		<add key="CertificateDenyLoadingDirectory" value="C:\Work\temp\fbs\CertificateDenyLoading"/>
		<add key="CertificateDenyLoadingMaxErrorCount" value="30"/>
		<add key="CertificateDenyLoadingLog" value="C:\Work\temp\fbs\CertificateDenyLoading.log"/>
		<add key="CompetitionCertificateLoadingDirectory" value="C:\Work\temp\fbs\CompetitionCertificateLoading"/>
		<add key="CompetitionCertificateLoadingLog" value="C:\Work\temp\fbs\CompetitionCertificateLoading.log"/>
		<add key="SchoolLeavingCertificateDenyLoadingDirectory" value="C:\Work\temp\fbs\SchoolLeavingCertificateDenyLoading"/>
		<add key="SchoolLeavingCertificateDenyLoadingLog" value="C:\Work\temp\fbs\SchoolLeavingCertificateDenyLoading.log"/>
	</appSettings>

  <log4net debug="true">
    <appender name="ServiceLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Service.log."/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="
"/>
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} %-5level %message%newline%exception"/>
      </layout>
    </appender>
    <appender name="TaskLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Task.log."/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="
"/>
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} %-5level %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
    </root>
    <logger name="Service">
      <appender-ref ref="ServiceLogAppender"/>
    </logger>
    <logger name="Task">
      <appender-ref ref="TaskLogAppender"/>
    </logger>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
