<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GVUZ.Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ConnectionFactory.Address" value="http://195.239.66.206/Rdms"/>
    <add key="ConnectionFactory.Username" value="Administrator"/>
    <add key="ConnectionFactory.Password" value="gfhjkm"/>

    <add key="ConnectionFactory.ProxyUsername" value=""/>
    <add key="ConnectionFactory.ProxyPassword" value=""/>
  </appSettings>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <bindingExtensions>
        <add name="clearUsernameBinding" type="WebServices20.BindingExtenions.ClearUsernameCollectionElement, ClearUsernameBinding"/>
      </bindingExtensions>
    </extensions>

    <bindings>
      <clearUsernameBinding>
        <binding name="wsHttp" messageVersion="Soap12"/>
      </clearUsernameBinding>
    </bindings>

    <client>
      <endpoint behaviorConfiguration="clientBehavior" binding="clearUsernameBinding" bindingConfiguration="wsHttp" contract="Rdms.Communication.Interface.IExportService" name="ExportServiceEndpoint"/>
      <endpoint behaviorConfiguration="clientBehavior" binding="clearUsernameBinding" bindingConfiguration="wsHttp" contract="Rdms.Communication.Interface.IVersionService" name="VersionServiceEndpoint"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <GVUZ.Helper.Properties.Settings>
      <setting name="GVUZ_Helper_EgeChecks_WSChecks" serializeAs="String">
        <value>http://dev22.dev.armd.ru:8001/wschecks.asmx</value>
      </setting>
    </GVUZ.Helper.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
