<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Esrp.DB.Properties.Settings.ESRP_DevelopConnectionString" connectionString="Data Source=PC;Initial Catalog=ESRP_Develop;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Esrp.DB.Properties.Settings.ESRP_AutoTestsConnectionString" connectionString="Data Source=PC;Initial Catalog=ESRP_AutoTests;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Esrp.DB.Properties.Settings.GVUZ_DevelopConnectionString" connectionString="Data Source=PC;Initial Catalog=GVUZ_Develop;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
