<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

  <connectionStrings>
    <!--<add name="Main" connectionString="Data Source=10.32.200.96;Initial Catalog=gvuz_develop_2016;uid=scholar;pwd=scholar;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Main" connectionString="Data Source=10.32.200.96;Initial Catalog=gvuz_prom_copy;uid=scholar;pwd=scholar;" providerName="System.Data.SqlClient"/>-->
    <add name="Main" connectionString="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;uid=KGuliyan;pwd=Qwerty1234;" providerName="System.Data.SqlClient"/>
    
    <!--<add name="Main" connectionString="Data Source=.;Initial Catalog=gvuz_start_2016;uid=sa;pwd=13;" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="ServiceName" value="GvuzProdImportService2016"/>
    <add key="ImportProcessorThreadcount" value="8"/>
    <add key="CheckProcessorThreadcount" value="8"/>
    <add key="DeadlockRestart" value="10"/>
    <add key="DeadlockWord" value="deadlock"/>
  </appSettings>
</configuration>
