<log4net>
	<!-- contexts:
	-->
	<!-- Setup the root category, add the appenders and set the default priority 
			Off, Fatal, Error, Warn, Info, Debug, All.-->
	<root>
		<level value="Debug" />
		<level value="Info" />
		<appender-ref ref="EventForwardingAppender" />
	</root>

	<logger name="Timer">
		<level value="All" />
		<appender-ref ref="BriefTraceAppender" />
	</logger>

	<logger name="MetadataTimer">
		<level value="Off" />
		<appender-ref ref="BriefTraceAppender" />
	</logger>

	<appender name="EventForwardingAppender" type="log4net.Appender.ForwardingAppender" >
		<threshold value="All"/>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="NHibernate" />
			<acceptOnMatch value="false" />
		</filter>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="FogSoft.Infrastructure.Utils.CacheFacade" />
			<acceptOnMatch value="false" />
		</filter>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="Timer" />
			<acceptOnMatch value="false" />
		</filter>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="MetadataTimer" />
			<acceptOnMatch value="false" />
		</filter>
		<appender-ref ref="RollingFileAppender" />
	</appender>
			
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<param name="File" value="c:\\WebLogProd\\GvuzImportService2016.log" />
		<param name="AppendToFile" value="true" />
		<param name="RollingStyle" value="Size" />
		<param name="MaxSizeRollBackups" value="10" />
		<param name="MaximumFileSize" value="20MB" />
		<param name="StaticLogFileName" value="true" />
		<!--datePattern value="yyyyMMdd-HHmm" /-->
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<header value="[Application Starts]&#13;&#10;" />
			<footer value="[Application Stops]&#13;&#10;" />
			<param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{3} - %message%newline" />
		</layout>
	</appender>
	
	<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{3} [User:%property{UserName}] [%ndc] - %message%newline" />
		</layout>
	</appender>

	<appender name="BriefTraceAppender" type="log4net.Appender.TraceAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{HH:mm:ss.fff} [%thread] %-5level - %message %property{RawUrl}%newline" />
		</layout>
	</appender>

</log4net>
