<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FbsReportSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FbsReportSender.Properties.Settings.DBConnection"
            connectionString="Data Source=zubrus.rbc.ru;Initial Catalog=fbs_db;Persist Security Info=True;User ID=kyusupov;Password=kyusupov;Connection Timeout=3000"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <FbsReportSender.Properties.Settings>
            <setting name="SMTPServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SMTPServer_EnableSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SMTPServer_Login" serializeAs="String">
                <value>info@fbsege.ru</value>
            </setting>
            <setting name="SMTPServer_Password" serializeAs="String">
                <value>4488g8</value>
            </setting>
            <setting name="EmailAddress_From" serializeAs="String">
                <value>info@fbsege.ru</value>
            </setting>
            <setting name="SMTPServer_Port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="ReportName" serializeAs="String">
                <value>Отчеты из Подсистемы ФИС Результаты ЕГЭ</value>
            </setting>
            <setting name="EmailAddress_To" serializeAs="String">
                <value>kyusupov@armd.ru</value>
            </setting>
            <setting name="ReportViewListDaily" serializeAs="String">
                <value>
                    [Отчет о регистрации пользователей за 24 часа]
                </value>
            </setting>
            <setting name="ReportViewListWeekly" serializeAs="String">
                <value>
                    [Отчет о регистрации пользователей за неделю]
                </value>
            </setting>
        </FbsReportSender.Properties.Settings>
    </applicationSettings>
</configuration>