<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GVUZ.ImportServiceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GVUZ.ImportServiceTest.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>http://localhost:65211/import/importservice.svc</value>
            </setting>
            <setting name="UserLogin" serializeAs="String">
                <value>babchenko</value>
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="tb_EsrpDbName" serializeAs="String">
                <value>ESRP</value>
            </setting>
            <setting name="tb_Path" serializeAs="String">
                <value>
                </value>
            </setting>
        </GVUZ.ImportServiceTest.Properties.Settings>
    </userSettings>
    <system.net>
      <defaultProxy>
        <proxy proxyaddress="http://10.36.6.43:3128" bypassonlocal="false" />
      </defaultProxy>
    </system.net>
  <connectionStrings>
    <!--<add name="Main" connectionString="Data Source=.;Initial Catalog=gvuz_develop;uid=scholar_services;pwd=scholar_services;" providerName="System.Data.SqlClient" />
    <add name="InstitutionsEntities" connectionString="metadata=res://*/Institutions.Institution.csdl|res://*/Institutions.Institution.ssdl|res://*/Institutions.Institution.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=gvuz_develop;User Id=scholar_services;Password=scholar_services;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CoursesEntities" connectionString="metadata=res://*/Courses.Courses.csdl|res://*/Courses.Courses.ssdl|res://*/Courses.Courses.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=gvuz_develop;User Id=scholar_services;Password=scholar_services;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BenefitsEntities" connectionString="metadata=res://*/Benefits.Benefits.csdl|res://*/Benefits.Benefits.ssdl|res://*/Benefits.Benefits.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=gvuz_develop;User Id=scholar_services;Password=scholar_services;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntrantsEntities" connectionString="metadata=res://*/Entrants.Entrants.csdl|res://*/Entrants.Entrants.ssdl|res://*/Entrants.Entrants.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=gvuz_develop;User Id=scholar_services;Password=scholar_services;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AdministrationEntities" connectionString="metadata=res://*/Administration.Administration.csdl|res://*/Administration.Administration.ssdl|res://*/Administration.Administration.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;&#xD;&#xA;   Initial Catalog=gvuz_develop;User Id=scholar_services;Password=scholar_services;Persist Security Info=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="NormativeDictionaryEntities" connectionString="metadata=res://*/NormativeDictionaries.NormativeDictionaries.csdl|res://*/NormativeDictionaries.NormativeDictionaries.ssdl|res://*/NormativeDictionaries.NormativeDictionaries.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=gvuz_develop;User Id=scholar_services;Password=scholar_services;Persist Security Info=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ImportEntities" connectionString="metadata=res://*/Import.ImportEntities.csdl|res://*/Import.ImportEntities.ssdl|res://*/Import.ImportEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=gvuz_develop;Persist Security Info=True;User ID=scholar_services;Password=scholar_services;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" />-->


    <add name="InstitutionsEntities" connectionString="metadata=res://*/Institutions.Institution.csdl|res://*/Institutions.Institution.ssdl|res://*/Institutions.Institution.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=KGuliyan;Password=Qwerty1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CoursesEntities" connectionString="metadata=res://*/Courses.Courses.csdl|res://*/Courses.Courses.ssdl|res://*/Courses.Courses.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=KGuliyan;Password=Qwerty1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BenefitsEntities" connectionString="metadata=res://*/Benefits.Benefits.csdl|res://*/Benefits.Benefits.ssdl|res://*/Benefits.Benefits.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=KGuliyan;Password=Qwerty1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntrantsEntities" connectionString="metadata=res://*/Entrants.Entrants.csdl|res://*/Entrants.Entrants.ssdl|res://*/Entrants.Entrants.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=KGuliyan;Password=Qwerty1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AdministrationEntities" connectionString="metadata=res://*/Administration.Administration.csdl|res://*/Administration.Administration.ssdl|res://*/Administration.Administration.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.32.200.164;    Initial Catalog=gvuz_develop;User Id=KGuliyan;Password=Qwerty1234;Persist Security Info=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="NormativeDictionaryEntities" connectionString="metadata=res://*/NormativeDictionaries.NormativeDictionaries.csdl|res://*/NormativeDictionaries.NormativeDictionaries.ssdl|res://*/NormativeDictionaries.NormativeDictionaries.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=KGuliyan;Password=Qwerty1234;Persist Security Info=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Main" connectionString="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;uid=KGuliyan;pwd=KGuliyan;" providerName="System.Data.SqlClient" />
    <add name="ImportEntities" connectionString="metadata=res://*/Import.ImportEntities.csdl|res://*/Import.ImportEntities.ssdl|res://*/Import.ImportEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;Persist Security Info=True;User ID=KGuliyan;Password=Qwerty1234;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceName" value="GvuzProdImportService" />
    <add key="ImportFolder" value="c:\temp\GVUZ_Import\Import\" />
    <add key="ProcessingFolder" value="c:\temp\GVUZ_Import\Processing\" />
    <add key="ResultFolder" value="c:\temp\GVUZ_Import\Result\" />
    <add key="Search.PageSize" value="25" />
    <add key="Application.TotalLimit" value="5" />
    <add key="Application.LocalLimit" value="3" />
    <add key="SqlCommandTimeout" value="360" />
    <add key="ImportProcessorThreadcount" value="2" />
    <add key="CheckProcessorThreadcount" value="2" />
    <add key="EnablePersonalRecordsAccessLog" value="false" />
    <add key="ESRPAuth.EsrpVersion" value="2" />
    <add key="ConnectionFactory.Address" value="http://priem.edu.ru/Rdms" />
    <add key="ConnectionFactory.Username" value="Administrator" />
    <add key="ConnectionFactory.Password" value="gfhjkm" />
    <add key="ConnectionFactory.ProxyUsername" value="" />
    <add key="ConnectionFactory.ProxyPassword" value="" />
    <add key="EgeCheckLogin" value="Babchenko" />
    <add key="EgeCheckPassword" value="123" />
    <add key="ESRPAuth.Path" value="http://10.32.200.164:100/" />
    <add key="ESRPAuth.CookieLifeTime" value="20" />
    <add key="ESRPAuth.SkipAuthPath" value="/resources/;/import/importservice.svc;/informationservice.asmx" />
    <!-- <add key="EgeCheckPage" value="http://brig.i-kompas.ru:8001/Certificates/CommonNationalCertificates/Check.aspx" />-->
    <add key="EgeCheckPage" value="http://10.32.200.164:200/Certificates/CommonNationalCertificates/Check.aspx" />
    <!-- Ef, Bulk, Xml -->
    <add key="ImportType" value="Bulk" />
    <add key="ImportApplicationsPackageSize" value="250" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--<add key="EnableFullDataLoadAppsCount" value="10" />-->
    <add key="ParseProcessorThreadcount" value="2" />
  </appSettings>
  <!--<applicationSettings>
    <GVUZ.Helper.Properties.Settings>
      <setting name="GVUZ_Helper_EgeChecks_WSChecks" serializeAs="String">
        <value>http://10.32.200.164:4242/wsChecks.asmx</value>
      </setting>
    </GVUZ.Helper.Properties.Settings>
  </applicationSettings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
