<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogLevel="Debug"
      internalLogFile="c:\temp\nlog-internal.txt"
      internalLogToConsole="true"
	  throwConfigExceptions="true">
  <variable name="logDirectory" value="c:/temp/" />
  <targets>
    <target name="logfile" type="File"
		layout="${longdate} ${message} ${exception:format=ToString}"
        fileName="${logDirectory}/logs/log_${shortdate}.txt"
            archiveAboveSize="8388608"
            archiveFileName="${logDirectory}/logs/log.archive.{#}.log"
            archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="15" concurrentWrites="true"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>