<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GVUZ.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GVUZ.Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
        <section name="PlatformConfiguration" type="Plat.Common.Configuration.Sections.PlatformConfigurationSection, Plat.Common" allowLocation="false" allowDefinition="MachineToApplication" />
    </configSections>
    <PlatformConfiguration>
        <MetadataLocations lists="~/ListsMetadata" catalogs="~/ListsMetadata" />
        <ConnectionSettings defaultConnectionStringName="Reports" OLAPCommandTimeout="600" OLTPCommandTimeout="60" />
        <DataFormattingSchemas listsDefaultSchema="Default" formsDefaultSchema="Default" gridReportsDefaultSchema="Default" devXReportsDefaultSchema="Default">
            <add name="Default">
                <DateFormat format="Short" includeTime="False" />
                <BooleanFormat trueText="Да" falseText="Нет" />
                <LongStringFormat truncateToLength="0" />
                <BoundaryValuesFormat nullText="" zeroText="" emptyStringText="" />
            </add>
            <add name="DateTimeSecond">
                <DateFormat format="Short" includeTime="True" />
                <BooleanFormat trueText="Да" falseText="Нет" />
                <LongStringFormat truncateToLength="0" />
                <BoundaryValuesFormat nullText="Нет данных" zeroText="" emptyStringText="Нет данных" />
            </add>
            <add name="DateTime">
                <DateFormat format="Short" includeTime="True" />
                <BooleanFormat trueText="Да" falseText="Нет" />
                <LongStringFormat truncateToLength="0" />
                <BoundaryValuesFormat nullText="Нет данных" zeroText="Нет данных" emptyStringText="Нет данных" />
            </add>
        </DataFormattingSchemas>
    </PlatformConfiguration>
    <connectionStrings>
 <add name="InstitutionsEntities" connectionString="metadata=res://*/Institutions.Institution.csdl|res://*/Institutions.Institution.ssdl|res://*/Institutions.Institution.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="CoursesEntities" connectionString="metadata=res://*/Courses.Courses.csdl|res://*/Courses.Courses.ssdl|res://*/Courses.Courses.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="BenefitsEntities" connectionString="metadata=res://*/Benefits.Benefits.csdl|res://*/Benefits.Benefits.ssdl|res://*/Benefits.Benefits.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="EntrantsEntities" connectionString="metadata=res://*/Entrants.Entrants.csdl|res://*/Entrants.Entrants.ssdl|res://*/Entrants.Entrants.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="AdministrationEntities" connectionString="metadata=res://*/Administration.Administration.csdl|res://*/Administration.Administration.ssdl|res://*/Administration.Administration.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;    Initial Catalog=gvuz_start_2016_jun20;User Id=FBS_Login;Password=Werbyb100;Persist Security Info=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="NormativeDictionaryEntities" connectionString="metadata=res://*/NormativeDictionaries.NormativeDictionaries.csdl|res://*/NormativeDictionaries.NormativeDictionaries.ssdl|res://*/NormativeDictionaries.NormativeDictionaries.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=FBS_Login;Id=Werbyb100;Persist Security Info=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="Main" connectionString="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;uId=FBS_Login;pwd=Werbyb100;" providerName="System.Data.SqlClient" />
      <add name="ImportEntities" connectionString="metadata=res://*/Import.ImportEntities.csdl|res://*/Import.ImportEntities.ssdl|res://*/Import.ImportEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;Persist Security Info=True;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" />
      <add name="ApplicationPrioritiesEntities" connectionString="metadata=res://*/ApplicationPriorities.ApplicationPriorities.csdl|res://*/ApplicationPriorities.ApplicationPriorities.ssdl|res://*/ApplicationPriorities.ApplicationPriorities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;persist security info=True;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="RecommendedListsEntities" connectionString="metadata=res://*/RecommendedLists.RecommendedLists.csdl|res://*/RecommendedLists.RecommendedLists.ssdl|res://*/RecommendedLists.RecommendedLists.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;persist security info=True;User Id=FBS_Login;Password=Werbyb100;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="FbsConnectionString" connectionString="Data Source=10.0.18.3;Initial Catalog=FBS;User ID=scholar;Password=scholar" />
      <add name="AppExport" connectionString="Data Source=10.0.18.3;Initial Catalog=gvuz_start_2016_jun20;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=true" />
      <add name="Reports" connectionString="Data Source=10.0.18.3;Initial Catalog=GVUZ_Reports;User Id=FBS_Login;Password=Werbyb100;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="SqlCommandTimeout" value="360" />
        <add key="Search.PageSize" value="10" />
        <add key="Application.TotalLimit" value="5" />
        <add key="Application.LocalLimit" value="3" />
        <add key="ConnectionFactory.Address" value="http://195.239.66.206/Rdms" />
        <add key="ConnectionFactory.Username" value="Administrator" />
        <add key="ConnectionFactory.Password" value="gfhjkm" />
        <add key="ConnectionFactory.ProxyUsername" value="" />
        <add key="ConnectionFactory.ProxyPassword" value="" />
        <add key="ESRPAuth.EsrpVersion" value="2" />
        <add key="ESRPAuth.Path" value="http://localhost:60920/" />
        <add key="ESRPAuth.CookieLifeTime" value="200" />
        <add key="ESRPAuth.SkipAuthPath" value="/resources/;/import/importservice.svc;/informationservice.asmx" />
        <add key="EgeCheckLogin" value="babchenko" />
        <add key="EgeCheckPassword" value="123" />
        <add key="EgeCheckPage" value="http://10.32.200.94:4243/Certificates/CommonNationalCertificates/Check.aspx" />
        <!--add key="RunImportProcessorInsideApp" value="true" /-->
        <add key="ImportProcessorThreadcount" value="1" />
        <add key="CampaignDefaultDateStart" value="20.06" />
        <add key="CampaignDefaultDateEnd" value="25.07" />
        <add key="CampaignDefaultDateOrderTarget" value="30.07" />
        <add key="CampaignDefaultDateOrderStage1" value="05.08" />
        <add key="CampaignDefaultDateOrderStage2" value="10.08" />
        <add key="CampaignDateOrderPaidMax" value="22.08" />
        <add key="EnablePersonalRecordsAccessLog" value="false" />
        <!-- Ef, Bulk, Xml -->
        <add key="ImportType" value="Bulk" />
        <add key="CampaignForeignerOrderDate" value="07.08.2015" />
        <!-- Campaign years range -->
        <add key="CampaignYearRangeStart" value="2016" />
        <add key="CampaignYearRangeLength" value="10" />
        <add key="ShowFilterStatistics" value="true" />
        <add key="OlympicFileAccessRestriction" value="6754,587" />
        <!-- Olympic file storage -->
        <add key="OlympicFileStorage" value="C:\temp\FIS_DEV\file_storage" />
        <!-- Hide order of admission menu -->
        <add key="HideOrdersMenu" value="false" />
        <!-- Отображение раздела "Анализ хода ПК" -->
        <add key="ShowInstitutionReports" value="true" />
        <!-- Корневой MenuElement, элементы которого отображаются в разделе "Анализ хода ПК" в качестве отчетов -->
        <add key="InstitutionReportsRootCode" value="FIS_OORUK" />
        <add key="FisVersion2015" value="http://10.32.200.164:305/" />

        <!-- True - тогда отключена авторизация, False - включена -->
        <add key="ESRPAuth.Disabled" value="True" />
        <!-- Переходить по ссылке типа: http://localhost:61562/?l=asevostiyanov@rustest.ru -->
        <add key="ESRPAuth.UsersHardcoded" value="roman@test.ru" />

        <!-- Отображение раздела "Автоприказы" -->
        <add key="ShowAutoReports" value="true" />

        <!-- Корневой MenuElement, элементы которого отображаются в разделе "Автоматическое формирование приказов" в качестве отчетов -->
        <add key="InstitutionAutoRootCode" value="AUTO" />

        <!-- Логин и пароль для доступа к бланкам сочинений -->
        <add key="CompositionUser" value="dsimakov" />
        <add key="CompositionPassword" value="@dmin!111" />
        <add key="CompositionOldDrive" value="\\10.0.3.5\Forms\" />
        <add key="CompositionNewDrive" value="Z:\" />

    </appSettings>
    <applicationSettings>
        <GVUZ.Web.Properties.Settings>
            <setting name="AppExportFileStorage" serializeAs="String">
                <value>C:\develop\ExportFiles</value>
            </setting>
        </GVUZ.Web.Properties.Settings>
        <GVUZ.Helper.Properties.Settings>
            <setting name="GVUZ_Helper_EgeChecks_WSChecks" serializeAs="String">
                <value>http://10.32.200.164:4243/wsChecks.asmx</value>
            </setting>
        </GVUZ.Helper.Properties.Settings>
    </applicationSettings>
    <!--<location path="PortletService.asmx">
    <system.web>
      <authorization>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral,PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="Error/HttpError">
      <error statusCode="404" redirect="Error/Http404" />
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" slidingExpiration="true" />
    </authentication>
    <sessionState cookieName="gvuz.cookie" mode="InProc" timeout="20" regenerateExpiredSessionId="false" sessionIDManagerType="" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Main" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <!--<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="Main" applicationName="/" />-->
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="GVUZ.Web.Auth.SqlCachedRoleProvider" connectionStringName="Main" applicationName="/" />
        <!--<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />-->
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
    <httpRuntime executionTimeout="110" maxRequestLength="70000" maxQueryStringLength="70000" maxUrlLength="70000" />
    <machineKey validationKey="02296922DE81BA7A0898C2E143247B12CC4E0D470F353FAB63D89F1FAEE3AD11C43484F592D64D9EE26DE4D5D2C91D6F64B412475C58A6AA2374D9685E3100AC" decryptionKey="46F8D099FF54318B73E97A34ECFF0021D9995AE61AD6D6F4" validation="SHA1" />
    <globalization culture="ru-RU" uiCulture="ru-RU" />
  </system.web>
  <system.webServer>
    <httpRedirect enabled="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" maxQueryString="20000" maxUrl="20000" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="EsrpAuthModule" type="GVUZ.Web.Auth.EsrpAuthModule" />
    </modules>
    <directoryBrowse enabled="false" showFlags="None" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <handlers>
      <add name="isapi1" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="isapi" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
    </handlers>
  </system.webServer>
  <system.web>
    <httpModules>
      <add name="EsrpAuthModule" type="GVUZ.Web.Auth.EsrpAuthModule" />
    </httpModules>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="GVUZ.Web.Import.ImportService">
        <endpoint address="" behaviorConfiguration="GVUZ.Web.Import.Service1AspNetAjaxBehavior" binding="webHttpBinding" contract="GVUZ.Web.Import.IImportService" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="GVUZ.Web.Import.Service1AspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <bindingExtensions>
        <add name="clearUsernameBinding" type="WebServices20.BindingExtenions.ClearUsernameCollectionElement, ClearUsernameBinding" />
      </bindingExtensions>
    </extensions>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="100000000" />
      </webHttpBinding>
      <clearUsernameBinding>
        <binding name="wsHttp" messageVersion="Soap12" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" />
      </clearUsernameBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICompositionExportService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transferMode="Streamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="655360000" maxStringContentLength="655360000" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="ExportServiceEndpoint" binding="clearUsernameBinding" bindingConfiguration="wsHttp" behaviorConfiguration="clientBehavior" contract="Rdms.Communication.Interface.IExportService" />
      <endpoint name="VersionServiceEndpoint" binding="clearUsernameBinding" bindingConfiguration="wsHttp" behaviorConfiguration="clientBehavior" contract="Rdms.Communication.Interface.IVersionService" />
      <endpoint address="net.tcp://localhost:8701/CompositionExportService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICompositionExportService" contract="GVUZ.CompositionExportModel.ICompositionExportService" name="GVUZ.CompositionExportModel.ICompositionExportService">
        <!--<identity><servicePrincipalName value="host/RomanNB" /></identity>-->
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669E0DDF0BB1AA2A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Transactions" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.DataSetExtensions" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <cachingConfiguration defaultCacheManager="UserRoleCache">
    <cacheManagers>
      <add name="UserRoleCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="1800" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="300" backingStoreName="Null Storage" />
    </cacheManagers>
    <backingStores>
      <add name="Null Storage" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
    </backingStores>
  </cachingConfiguration>
</configuration>
