<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="CompositionNewDrive" value="D:\dev\Forms\" />
    </appSettings>
    <system.web>
        <httpRuntime maxRequestLength="2147483647"/>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
            </providers>
        </roleManager>
    </system.web>
    <system.serviceModel>
        <client>
            <endpoint address="net.tcp://localhost:8701/CompositionExportService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICompositionExportService" contract="GVUZ.CompositionExportModel.ICompositionExportService" name="GVUZ.CompositionExportModel.ICompositionExportService">
                <!--<identity>
                      <servicePrincipalName value="host/RomanNB" />
                    </identity>-->
            </endpoint>
        </client>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICompositionExportService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transferMode="Streamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="655360000" maxStringContentLength="655360000" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
                    <security mode="None"></security>
                </binding>
            </netTcpBinding>
        </bindings>
    </system.serviceModel>
</configuration>