<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\Projects\src\fisgia\FBS\binaries\Release\3.1_fbs_aprob_package\FbsWebUI.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>fbs_aprob</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Fbs.Core.Properties.Settings.FbsConnectionStringHashed" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.32.200.96;Initial Catalog=FBS;User ID=scholar;Password=scholar" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Fbs.Core.Properties.Settings.FbsConnectionStringHashed_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.32.200.96;Initial Catalog=FBS;uid=scholar;pwd=scholar" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Fbs.Core.Properties.Settings.FbsConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.32.200.96;Initial Catalog=FBS;User ID=scholar;Password=scholar" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Fbs.Core.Properties.Settings.FbsConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.32.200.96;Initial Catalog=FBS;uid=scholar;pwd=scholar" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Fbs.Core.Properties.Settings.FbsConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Fbs.Core.Properties.Settings.FbsConnectionStringHashed-Web.config Connection String" />
  </ItemGroup>
</Project>