<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Esrp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <Esrp.Properties.Settings>
            <setting name="Esrp_GetDataReference_GetData" serializeAs="String">
                <value>http://vm-fbs:333/auth/GetData.asmx</value>
            </setting>
            <setting name="Esrp_CheckAuthReference_CheckAuth" serializeAs="String">
                <value>http://localhost:100/auth/CheckAuth.asmx</value>
            </setting>
        </Esrp.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
