<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:200/InnerDataService.asmx" binding="basicHttpBinding" bindingConfiguration="InnerDataServiceSoap" contract="InnerDataReference.InnerDataServiceSoap" name="InnerDataServiceSoap"/>
            <endpoint address="http://localhost:200/InnerDataService.asmx" binding="customBinding" bindingConfiguration="InnerDataServiceSoap12" contract="InnerDataReference.InnerDataServiceSoap" name="InnerDataServiceSoap12"/>
            <endpoint address="http://localhost:200/wschecks.asmx" binding="basicHttpBinding" bindingConfiguration="WSChecksSoap" contract="WSChecksReference.WSChecksSoap" name="WSChecksSoap"/>
            <endpoint address="http://localhost:200/wschecks.asmx" binding="customBinding" bindingConfiguration="WSChecksSoap12" contract="WSChecksReference.WSChecksSoap" name="WSChecksSoap12"/>
        </client>
        <bindings>
            <basicHttpBinding>
                <binding name="InnerDataServiceSoap"/>
                <binding name="WSChecksSoap"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="InnerDataServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
                <binding name="WSChecksSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
