<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="ESRP_Public" connectionString="Data Source=10.32.200.164;Initial Catalog=esrp;User=sa;Password=sa321" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="ESRPPrivateUrl" value="http://localhost:333/auth/setdata.asmx"/>
        <add key="ESRPReplicationRowCount" value="1000"></add>
        <add key="ESRPUseEnsureCommands" value="false"></add>
        <add key="FISReplicationRowCount" value="1000"></add>        
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
