<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CheckWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="CheckWSUserName" value="babchenko"/>
        <add key="CheckWSPassword" value="123"/>
        <add key="CheckWSClient" value="babchenko"/>
    </appSettings>
    <applicationSettings>
        <CheckWebService.Properties.Settings>
            <setting name="CheckWebService_WSChecksClient_WSChecks" serializeAs="String">
                <value>http://localhost:200/wschecks.asmx</value>
            </setting>
        </CheckWebService.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
